.bar__container {
  width: 200px;
  height: 30px;
  margin: 20px;
  background-color: rgb(195, 195, 195);
  border-radius: 15px;
  transition: all 1s;
}

.progress__bar {
  background: rgb(247, 182, 0);
  background: linear-gradient(
    90deg,
    rgba(247, 182, 0, 1) 0%,
    rgba(67, 76, 133, 1) 0%,
    rgba(130, 173, 171, 1) 100%
  );
  height: 100%;
  width: 0%;
  border-radius: 15px;
  transition: all 0.3s;
}

.bar__name {
  margin: 10px 0px 0px 20px;
  font-size: 1.2em;
}
