.column__wrapper {
  margin: 8px;
}

.item__content,
.item__content__active {
  user-select: none;
  padding: 16px;
  font-size: 1.2em;
  margin: 0 0 8px 0;
  min-height: 50px;
  color: rgb(27, 27, 27);
  border-radius: 5px;
}

.item__content {
  background-color: #fb8282;
  color: white;
}

.item__content__active {
  background-color: white;
}

.title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.assigned {
  font-size: 18px;
}
